# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Crea carpetas adicionales como `build/` y `dist/`, que suelen ser redundantes
# en control de versiones.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtualenv
venv/
ENV/
env/
.venv/
ENV.bak/
env.bak/
env/*

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# PyCharm
.idea/
*.sublime-project
*.sublime-workspace

# mypy
.mypy_cache/

# Environments
*.env
*.venv
*.env.bak
*.venv.bak
.envrc
*.envrc

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Unit test / coverage reports
.coverage
.tox/
.nox/
*.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
nosetests.xml
test-reports/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask/Django/Pytest Coverage
htmlcov/

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Profiling data
.prof

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
